:root{
    --body-bg: rgb(0, 0, 0);
    --theme-bg-color: rgb(255, 255, 255);
    --small-font: 0.8rem;
    --hover-color: rgb(77, 77, 158);
}

html {
    box-sizing: border-box;
}

body, h1, ul{
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.125;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    background: var(--body-bg);
    background: url(assets/giesel-2.jpeg);
    letter-spacing: 0.5px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    margin-bottom: 10vh;
    text-align: center;
}

#header a {
    padding: 1rem 2rem;
    border: 5px solid rgb(255, 255, 255);
    font-size: 2rem;
}

nav {
    display: flex;
    background: rgba(207, 224, 190, 0.1);
    backdrop-filter: blur(30px);
    backdrop-filter: 30px;
}

nav li:hover {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
}

nav .active:hover {
    background: #ffffff;
}

.icon {
    width: 25px;
}
.active {
    background: var(--theme-bg-color);
    color: black;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: var(--small-font);
}

ul:nth-child(1) {
    margin-right: auto;
}

li {
    display: flex;
    align-items: center;
    padding-inline: 1.5rem;
    height: 3rem;
}

section {
    --position-font: gray;
    padding: 4rem 4rem;
    color: black;
    background: var(--theme-bg-color);
}

header.major {
    margin-bottom: 8rem;
    text-align: center;
}

.major h2 {
    font-size: 4rem;
}

.major a {
    font-size: var(--small-font);
    border: 3px solid;
    padding: 1rem 1.5rem;
}

.body {
    --head-color: gray;
    --border-color: gray;
    --padding: 2rem 0rem;
    border-top: 1px solid var(--border-color);
}


.body h3{
    font-size: clamp(1.25rem, 3vw,1.75rem);
    font-style: italic;
}

.body h4{
    font-size: clamp(1rem, 2vw,1.75rem);
    color: var(--head-color);
}

.body .period{
    font-weight: 300;
    font-style: italic;
    margin-top: -10px;
    color: rgb(188, 191, 193);
}

.body .content {
    font-weight: 400;
    line-height: 1.5;
    color: rgb(127, 127, 127);
    padding: 1.5rem 0;
}

.body .logo{
    width: clamp(60px, 8vw, 150px);
    position: absolute;
    top: 20%;
    right: 0;
}

.body .row-1 {
    text-align: center;
    text-decoration: underline;
    color: var(--head-color);
    border-bottom: 1px solid var(--border-color);
    padding: var(--padding);
}

.body .row-2 {
    border-bottom: 1px solid var(--border-color);
    padding: var(--padding);
    position: relative;
}

.body .row-3 {
    border-bottom: 1px solid var(--border-color);
    padding: var(--padding);
    position: relative;
}

.body .row-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 5rem 2rem;
    background: var(--theme-bg-color);
}


.row-4 a {
    flex: 1;
    padding: 0.5rem 1.5rem;
    border: 3px solid;
    color: black;
    display: grid;
    place-items: center;
}

/* footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(77, 76, 76);
    font-weight: 400;
    background: rgb(252, 243, 243);
    padding: 4rem;
}

input, textarea {
    width: 100%;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type=text]:focus {
    outline: none;
    border: 3px solid var(--hover-color);
}

select {
    width: 100%;
    padding: 16px 20px;
    margin: 8px 0 10px 0;
    color: rgb(166, 166, 166);
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 0.75rem;
}

select:focus {
    outline: none;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    resize: none;
}

textarea:focus {
    outline: none;
    border: 3px solid var(--hover-color);
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: var(--hover-color);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.link-container {
    padding: 0 4rem;
}

footer .link {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

footer .title {
    width: 5rem;
} 

footer a {
    font-size: var(--small-font)
}



/* hover effect */
a:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
}

/* #header a {
    font-size: clamp(1rem, 2vw, 2rem);
} */

.major h2 {
    font-size: clamp(2rem, 5vw, 4rem);
}

@media (max-width: 800px) {
    .wrapper {
        padding: 1.5rem;
    }
    #main {
        width: 100%;
        min-width: 300px;
    }

    ul {
        font-size: 0.6rem;
    }
    footer {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem;
    }
    .link-container {
        grid-row: 1;
    }
}

@media (max-width: 500px){

    header.major{
        margin-bottom: 10vh;
    }
    .body .row-2, .body .row-3{
        padding-top: 10vh;
    }
    footer {
        padding: 1rem;
    }
    form {
        width: 100%;
    }
    .link-container {
        width: 100%;
        padding: 0;
    }
    section {
        padding: 1.5rem;
    }
    .body .logo{
        left: 5px;
        top: 30px;
        width: 35px;
    }
    nav{
        display: none;
    }
}

/* navbar style */
.hamburger {
    display: none;
}
.mobile-nav {
    display: none;
}
@media (max-width: 500px) {
    nav {
        display: none;
    }
    .hamburger {
        top: 5px;
        right: 5px;
        position: fixed;
        z-index: 5;
        display: block;
        cursor: pointer;

        appearance: none;
        background: none;
        outline: none;
        border: none;
    }
    .hamburger .bar, .hamburger::after, .hamburger::before{
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background: #ffffff;
        margin: 6px 0px;
        transition: 0.4s;
    }
    .hamburger.is-active::before{
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    .hamburger.is-active::after{
        transform: rotate(45deg) translate(-8px, -7px);
    }
    .hamburger.is-active .bar {
        opacity: 0;
    }
    .mobile-nav{
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        background: #bdbbbb2c;
        padding-top: 100px;
        z-index: 4;
        transition: 0.4s;
    }
    .mobile-nav a{
        display: block;
        text-align: center;
        padding: 1rem;
        background: #2d2d2d7b;
        width: 100%;
        margin: 0 auto 1rem;
        max-width: 200px;
    }
    .mobile-nav.is-active {
        left: 0;
    }

    .mobile-nav a:hover{
        background: #000000c1;
    }
    .hamburger {
        background: #0000008b;
        backdrop-filter: blur(20px);
    }
}